@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #6E07F3;
    z-index: 1000;  
}


img{
    height: 200px;
    transform: translateY(-50px);
    image-rendering:optimizeQuality;
    user-select: none;
    pointer-events: none;
    
}
.hContaint{
    margin-right:100px;
}
.hContaint .nav{
    display: flex;
    align-items: center;
    height: 100%;
}

.hContaint .nav .nav-item{
    list-style: none;
    font-size: 1.5rem;
    margin: 25px;
    /* border:2px solid red; */
    /* height: 100%; */
} 

.hContaint .nav .nav-item a{
    color: white;
    text-decoration: none;
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1.8px;
    font-variant: small-caps;
    user-select: none;
    /* border:2px solid red; */
}

@media (max-width:620px){
    .header{
        justify-content: space-between;
    }
    img{
        height: 160px;
        transform: translateY(-35px);
    }
    .hContaint{
        margin-right:50px;
    }

    .hContaint .nav .nav-item{
        font-size: 1rem;
        margin: 15px;
    }
}
@media (max-width:476px){
    img{
        height: 120px;
        transform: translateY(-20px);
    }
    .hContaint{
        margin-right:20px;
    }
    .hContaint .nav .nav-item{
        margin: 15px;
    }
}
@media (max-width:420px){
    .header{
        min-width:380px;
        overflow-x: hidden;
    }

    img{
        height: 120px;
        transform: translateY(-15px);
    }
}
